.swiper{
    margin-top: 50px;
}

.swiper-button-next{
    padding: 5px 10px;
    background-color: #fff;
    border: 0.8px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    top: 70% !important;
    align-self: center;
    height: 28px !important;
    width: 28px !important;
    display: grid;
    place-content: center;
    transform: translateY(-70%);
    box-shadow: 17px 1px 14px 30px #fff;
    
}

.swiper-button-prev {
    padding: 5px 10px;
    background-color: #fff;
    border: 0.8px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    top: 70% !important;
    left:0px !important;
    align-self: center;
    height: 28px !important;
    width: 28px !important;
    display: grid;
    place-content: center;
    transform: translateY(-70%);
    box-shadow: 17px 1px 14px 30px #fff;
   
}

.swiper-button-next::after {
    content: 'next' !important;
    font-size: 12px !important;
    color: black;
   

}

.swiper-button-prev::after {

    content: 'prev' !important;
    font-size: 12px !important;
    color: black;
    
}